.containerDropdowns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 480px) {
        flex-direction: column;
    }
    
    .containerWrapDropdown {
        width: 45%;
        list-style-type: none;

        @media (max-width: 480px) {
            width: 100%;
        }
    }
}
